################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ONESolutionUtility_v1/.vs
/.vs/ONESolution-Installer/v17
/.vs
